.sidebar {
    background-color: white;
}

/* font colour */
.sidebar a { color: #A3AED0; }

.sidebar .profile-image {
    border-bottom: 2px solid #EAEEF5; 
    text-align: center;
    padding: 20px;
}

.sidebar sub {
    font-size: 12px;
    color: #1B2559;
}

div.navigation > img, div.navigation > a, .Log-out-child > img,  
.Log-out-child > a {
    vertical-align: middle;
}

nav.navigation {
    display: block;
    box-sizing: border-box;
    
}

.Team, .Me, .Notifications {
    margin: 10px 0px 15px 0px; /* top right bottom left */
    padding: 10px; /* top right bottom left */
    font-size: 20px;
}

nav.navigation .Me {
    background-color: #5570F1;
    border-radius: 10px;
    color: #fff
}

nav.navigation .Me sub {
    color: #fff;
}

nav.navigation .Me img {
    filter: brightness(0%) invert(1);
}

.log-out-parent {
    /* Calc = 100vh - Height of each box (including margins and padding) - profile height - (Number of padding on tabs - top padding from .grid-containger - 2 * padding from profile) + offset from margins */
    height: 445px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#log-out-sidebar-link { 
    /* Calc = 100vh - Height of each box (including margins and padding) - profile height - (Number of padding on tabs - top padding from .grid-containger - 2 * padding from profile) + offset from margins */
    position: absolute;
    bottom: 0;
    width: 200px;
    margin-bottom: 5px;
}

.Log-out-child {
    margin-top: auto;
    font-size: 20px;
    padding: 10px;
    border-top: 2px solid #EAEEF5; 
}

.Log-out-child a {
    color: #CC5F5F;
}

/* hover effects */
div.navigation:hover, .Log-out-child:hover {
    color: #fff;
    background-color: #5570F1;
    border-radius: 10px;
}

div.navigation:hover *, 
.Log-out-child:hover * {
    color: #fff;
    filter: brightness(0%) invert(1);
}
