.buttons > button > img {
    vertical-align: bottom;
    width: 20px;
}

.buttons > button {
    border: none;
    background-color: #5570F1;
    font-size: 17px;
    color:  #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    /* calculation was done by subtracting the original height of the task by the height of the Team tab */
    margin-top: 38px;
    margin-left: 22px;
}

.plus-button { filter: invert(1); }

.buttons { background-color: transparent; }