.top-menubar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
}

.top-menubar > div {
    /* Profile size = Height of the profile + padding = 78 + 20 = 98 */
    /* margin-top = Profile size / 2 - Padding = 98/2 - 20 */
    margin-top: 29px;
    color: #363E6D;
    font-weight: bold;
}

.project-1 .button-project {
    width: 110px;
    height: 40px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}


