.task-manager {
    /* make it so that the div wrapper does not stretch all way to the bottom. */
    height: 0px;
    margin-left: 21px;
}

.task-manager > table {
    width: 100%;
    background-color: #fff;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
}

.col-width .task-name { width: 40% }

.col-width .priority { width: 60/3% }

.col-width .due-date { width: 60/3% }

.col-width .assignees { width: 60/3% }

th { text-align: left; }

table td img { width: 65px; }

.medium-button, .low-button {
    width: 80px;
    vertical-align: middle;
}