#request-modal-background {
    display: none;
    position: fixed; 
    /*padding-top: 400px;*/
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.request-modal {
    width: 676px;
    height: 747px;
    background-color: white;
    position: fixed;
    padding-top:20px;
    padding-left: 10px;
    padding-right: 10px;
    top: 10%;
    left: 35%;
    /*left:100px;*/
}

.request-modal .content > div:not(:first-child):not(.framework) {
    margin-top: 30px;
}

/* header */
.request-modal .header {
    border-bottom: 2px solid #A3AED0;
    color: #1B2559;
    height: 30px;
}

.request-modal .header span {
    display: inline-flex;
    align-items: center;
    padding: 0px 2px;
}

/* content */
.request-modal .content {
    width: 676px;
    height: 400px;
    font-weight: bold;
}

.request-modal .content > div {
    margin: 20px 0;
}

/* Centering the image and text on button */
/* Referenced from https://www.youtube.com/watch?v=A7G-kAyfxqY */
.button-due-date {
    display: inline-flex;
    border: none;
    outline: none;
    overflow: hidden;
}

.button-icon, .button-due-date {
    display: inline-flex;
    align-items: center;
}

/* text area */
textarea {
    background-color: rgba(85,112,241,0.15);
    border: none;
    outline: none;
    resize: none;
    margin-top: 5px;
    width: 673px;
}

/* select buttons */
.request-modal .content .button-select {
    background-color: rgba(85,112,241,0.20);
    padding: 5px 10px;
    border-radius: 10px;
}

.request-modal .content button span:first-child:not(.button-text):not(.button-icon) {
   margin-right: 30px;
}

/* framework */
.request-modal .content .framework {
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-top: -50px;
    margin: 0 0;
    margin-top: 10px;
}

.request-modal .content .framework span:first-child {
    margin-right: 13.8%;
}

/* size of the buttons */
.request-modal .content .framework button:not(.button-image) {
    margin-right: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

/* colour of buttons */
.request-modal .content .framework button:not(.button-image):not(.default) {
    color: #5570F1;
    background-color: #fff;
}

.request-modal .content .framework img {
    width: 20px;
    border-radius: 50%;
}

.request-modal .content .framework .default {
    background-color: #5570F1;
    color: #fff;
}

/* footer */
.request-modal .footer span:last-child {
    float: right;
}

/* 30-60-90 */
.request-modal .rule-30-60-90 {
    position: fixed;
    top: 16%;
    left: 35%;
    background-color: #fff;
    width: 690px;
    height: 710px;
    display: none;
}

.request-modal .rule-30-60-90 .infographic {
    width: 676px;
    margin-left: 10px;
}

.request-modal .rule-30-60-90 .cross {
    position: fixed;
    top: 150px;
    /*left: 1336px;*/
}

.select select {
    background-color: rgba(85,112,241,0.20);
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 23px;
    text-align: center;
    font-size: 14px;
    margin-left: 210px;
}

.select option {
    color: #fff;
    outline: 0;
    font-size: 14px;
}

#low {
    background-color: #68AAF8;
}

#medium {
    background-color: #F9A144;
}

#high {
    background-color: #E37676;
}

/* Assignee Modal + just Assginee */
.request-modal .assignee {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.request-modal .assignee .button-select {
    margin-left: 197%;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

.request-modal .assignee-modal {
    position: absolute;
    box-sizing: border-box;
    width: 100px; 
    align-items: center;
    margin-top: 108px;
    margin-left: 270px;
}

.request-modal .overlay {
    position: absolute;
}

.request-modal .assignee-modal:not(.overlay) {
    background-color: #fff;
    display: none;
}

.request-modal .assignee-modal div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.request-modal .assignee-modal div:hover {
    background-color: rgba(128,128,128, 0.2);
}

.overlay {
    border-radius: 10px;;
    height: auto;
    padding: 2px;
    margin-top: -28px;
}

/* calendar */
/* referenced https://www.sliderrevolution.com/resources/html-calendar/ */
.calendar {
    display: none;
    position: absolute;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 180px;
    border: 2px solid red;
}

.calendar__header {
    background-color: rgba(128,128,128, 0.2)
}

.calendar__header h2, .calendar__header h3 {
    text-align: center;
    width: 100%;
    margin: 2px;
}

.calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }

.calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
}

.calendar__day:nth-child(7) {
    color: #ff685d;
}

.calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
}

.calendar__number:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
}

[data-current-date = "current"], .calendar__number:hover {
    background-color: rgba(85,112,241);
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
}

/* video-image */
.request-modal .video-image {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    align-items: center;
    gap: 20px;
} 

/* Drop zone */
/* reference https://www.youtube.com/watch?v=Wtrin7C4b7w */
.drop-zone {
    max-width: 618px;
	width: 618px;
	height: 140px;
	padding: 25px;
	display: flex;
    
	align-items: center;
	justify-content: center;
	text-align: center;
    
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	color: #cccccc;
	border: 4px dashed #009578;
	border-radius: 10px;
    overflow: hidden;

    gap: 10px;
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
}

/* sent overlay */
.sent-overlay {
    display: none;
    position: absolute;
    top: 25%;
    left: 40%;
    background-color: #fff;
    width: 494px;
    height: 304px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.sent-overlay .times button {
    float: right;
    margin: 5px 10px;
    font-size: 30px;
    color: #1B2559;
}

.sent-overlay .image {
    margin-top: 13%;
    margin-left: 35%;
}

.sent-overlay .image img {
    width: 150px;
}

.sent-overlay .text {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #1B2559;
    font-weight: bold;
}


