.grid-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-rows: auto auto 1fr;
    background-color: #f3f2f7;
    gap: 10px;
    height: calc(100vh - 20px); /* minus 10px because of the padding. */
    width: 100%;
}

.sidebar { grid-row: 1 / span 3; }