/* hidden column widths */
#hidden-content-1 { 
    border-collapse: collapse; 
    width: 100%; 
    /*border: 2px solid red;*/
}

.hidden-col-width .name { width: 52% } /* 40% + 60/5% */

.hidden-col-width .status { width: 60/5% } /* 12% */

.hidden-col-width .priroty { width: 60/5% } /* 12% */

.hidden-col-width .due-date { width: 60/5% } /* 12% */

.hidden-col-width .assignees { width: 60/5% } /* 12% */

#hidden-row-1 {
    background-color: #F8F7FA;
    /* border: 2px solid red; */
}

#hidden-row-1 td {
    padding-top: 15px;
}

#hidden-content-1 td { 
    background-color: #F8F7FA;
    color: #676A7B; 
    border-bottom: 1px solid #D2D2D2;
    padding: 10px;
}

#hidden-content-1 th { 
    /* border: 2px solid black; */
    background-color: #F8F7FA;
    color: #808080; 
    font-weight: normal; 
    border-bottom: 1px solid #D2D2D2;
}

button {
    background-color: transparent;
    border: none;
}

/*
th {
    border: 2px solid red;
}
*/


